/* ++KEY++
    margin: 0 auto 0 auto;  goes in top right bottom left*/ 

body{
    width: auto;
    height: auto;
    background-color:rgb(183, 158, 138);
    font-size: 15px;
}

#wrapper{
 
}

.jumbotron{
    background-image: url(../images/drought_desert.jpg); /*Image retrieved at https://pixabay.com/en/desert-drought-dehydrated-clay-soil-279862/ */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -650px;  
    width:100%;
    height: auto;
    margin-bottom: -2px;
}

#title{
    text-align: center;
    font-size: 40px;
    /* color: #f1f1f1; */
    /* color: rgb(195, 188, 178); */
    color: #EBEBE8;
    line-height: 90px;
}

#top-navbar{
   background-color: rgb(42, 54, 54);
   border: 2px solid rgb(42, 54, 54);
   /* position: fixed; */
}

#home-link{ /*this is the link for home*/
    font-size: 16px;
    color: #f1f1f1;
    margin-left: 10px;
}

#home-link:hover{ /*this is the action when mouse hovers over 'home'*/
    padding: auto auto; /*this makes sure that the hover box does not move the navbar*/
    color: rgb(113, 111, 98);
}

.col-centered{
    float: none;
    margin-right: 0 auto 0 auto; 
}

#goal-heading{
    text-align: center;
    /* font-size: 20px; */
}
